.formHeader {
  color: white;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.form {
  /* display: flex;
  flex-direction: column; */
  padding-top: 20px;
  /* padding-right: 10px;
  padding-left: 10px; */
  padding-bottom: 20px;
  width: 25%;
  height: calc(100% - 30px);
  justify-content: space-around;
  border-right: 5px solid white;
  float: left;
  margin-bottom: 0;
  overflow: scroll;
}

.section {
  border-top: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  width: 100%;
}

.label {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-right: 5px;
  padding-left: 2px;
  width: 100%;
}

.input {
  text-align: right;
  margin-right: 5px;
  /* background-color: lightgreen; */
}

.tickers {
  color: white;
}

.button {
  float: right;
  margin-right: 5px;
}

.link {
  text-align: center;
  color: white;
  cursor: pointer;
  
}