.graphs {
  padding: 20px 20px 20px 40px;
  height: calc(100% - 30px);
  width: 100%;
  overflow: auto;
  float: right;
  box-sizing: border-box;
}

.heading {
  color: white;
  margin: 0;
  text-align: center;
}

.individualGraph {
  /* height: calc(50% + 20px); */
}

.graphWrapper {
  flex-grow: 1;
}